.container-fluid
{
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    background-color: blue;   
}
#Portrait
{
    max-width: 100%;
}

/*Color is not appearing. Why?!*/
body 
{
    background-color: bisque;
}

.MainSection
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.hyperlinks
{
    text-decoration: none;
    color: black;
}

p
{
    font-size: 12px;
}