.container-fluid
{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    
    background-color: blue;   
    justify-content: space-between;
}

h6
{
    text-decoration: underline;
    font-weight: bold;
}
.AddedImages
{
    max-width: 100%;
}
#Portrait
{

}

/*Color is not appearing. Why?!*/
body 
{
    background-color: bisque;
}

.MainSection
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.hyperlinks
{
    text-decoration: none;
    color: black;
}

p
{
    font-size: 12px;
}